<%= error_messages_for(@section) %>

 
	  	<div class="form-group row">
		 	 	<div class="col-md-2">
		 	 		<%= f.label(:name) %>
		 	 	</div>
		 	 	<div class="col-md-6">
		 	 		<%= f.text_field(:name, :id => 'new_name',  :class => 'form-control', :placeholder => 'Name') %>
		 	 	</div>
		  </div><!-- End Row 1 -->

 			<div class="form-group row">
 				<div class="col-md-1">
				<%= f.label(:page_id, 'Page') %>
			</div>
			<div class="col-md-4">
				<%= f.select(:page_id, @pages.map { |p| [p.name, p.id] }) %>
			</div>
 				<div class="col-md-2">
	 	 		<%= f.label(:position) %>
 	 		</div>
 	 		<div class="col-md-2">
	  		<%= f.select(:position, 1..@section_count) %>
  		</div>
  		<div class="col-md-1">
  			<%= f.label(:visible) %>
			</div>
			<div class="col-md-1">
				<%= f.check_box(:visible) %>
			</div>
	  	</div><!-- End Row 2 -->

	  	<div class="form-group row">
	  		<div class="col-md-3">
	  			<%= f.label(:content_type) %>	
	  		</div>
	  		<div class="col-md-9">
	  			<div class="btn-group">
	  				<label class="btn btn-default btn-sm">
		  				<%= f.radio_button(:content_type, "Jumbotron", :data => {:target => '#jumbotron'})  %> Jumbotron
						</label>
		  			<label class="btn btn-default btn-sm">
		  				<%= f.radio_button(:content_type, "Article", :data => {:target => '#article'})  %> Article
						</label>
		  			<label class="btn btn-default btn-sm">
		  				<%= f.radio_button(:content_type, "Image", :data => {:target => '#image'})  %> Image
						</label>
		  			<label class="btn btn-default btn-sm">
		  				<%= f.radio_button(:content_type, "Specifications", :data => {:target => '#specifications'})  %> Specs
						</label>
	 	 			</div><!-- End Btn-Group -->
				</div><!-- End Col -->
			</div><!-- End Row 3 -->		<div class="col-md-8">
			<div class="form-group row">
				<div class="col-md-1"></div>
				<div class="col-md-11">
					<div class="tab-content">
				   	<div id="jumbotron" class="tab-pane" >
			       	<div class="form-group">
			 				</div>
				 		</div>

				    <div id="article" class="tab-pane active" >
				        <div class="form-group">
						 	 </div>
				    </div>

				    <div id="image" class="tab-pane" >
				        <div class="form-group">
				        <h4>Upload Image</h4>
							 	 	<%= f.file_field(:image) %>
							 	 </div>
				    </div>

				    <div id="specifications" class="tab-pane" >
				        <div class="form-group">
				        	<h4>Add Specifications</h4>
									<table name="specs" id="specs" class="table table-bordered table-condensed">
								      <tr>
								         <td><input type="text" class="ilabel"/></td>
								         <td><input type="text" class="icontent"/></td>
								      </tr>
									</table>
									<div class="clearfix">
										<button type="button" class="btn btn-primary btn-xs" id="button"  onclick="addField('specs')">Add Field</button>
									</div>
				        </div><!-- End Form-Group -->
				    </div><!-- End Specifications Pane -->
					</div><!-- End Tab-Content -->
				</div><!-- End Col -->
			</div><!-- End Row 4 -->

			<div class="form-group row">
				<div class="col-md-2">
					<%= f.label(:content) %>
				</div>
				<div class="col-md-8">
		  		<%= f.text_area(:content, :size => '40x10') %>
				</div>
			</div>
	
	 	 <script type="text/javascript">
		    $("input:radio").click(function () {
		         $(this).tab('show');
		     });
		</script>
