<%= error_messages_for(@section) %>

 
	  	<div class="form-group">
	 	 	<th><%= f.label(:name) %></th>
	 	 	<td><%= f.text_field(:name, :class =>'form-control') %></td>
		  </div>
	 	 <div class="form-group">
	 	 	<th><%= f.label(:position) %></th>
	  		<td><%= f.select(:position, 1..@section_count) %></td>
	  	</div>
	  	<div class="form-group">
	  		<th><%= f.label(:visible) %></th>
	  		<td><%= f.check_box(:visible) %></td>
	 	 </div>
	 	 <div class="form-group">
	  		<th><%= f.label(:page_id, 'Page') %></th>
	  		<td><%= f.select(:page_id, @pages.map { |p| [p.name, p.id] }) %></td>
	 	 </div>
	 	 <div class="form-group">
	  		<th><%= f.label(:content_type) %></th>
	  		<td>
	  			<%= f.radio_button(:content_type, "text")  %> Text
	  			<%= f.radio_button(:content_type, "HTML")  %> HTML
	  		</td>
	 	 </div>
	 	 <div class="form-group">
	  		<th><%= f.label(:content) %></th>
	  		<td><%= f.text_area(:content, :size => '40x10') %></td>
	 	 </div>
	  </table>
