<% @page_title = "Full Sections List" %>

<%= link_to("<< Back to Main Menu", {:controller => 'access',
	:action => 'index'}, :class => 'back-link') %>

<div class="sections index">
	<h2>All Sections</h2>

	<%= link_to("Add New Section", {:action => 'new', :page_id => @page.id }, :class => 'action new') %>

	<table class ="listing" summary="Section list">
		<tr class="header">
			<th>&nbsp;</th>
			<th>Parent Page</th>
			<th>Section</th>
			<th>Visible</th>
			<th>Action</th>
		</tr>
		<% @sections.each do |section| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= section.position %></td>
			<td><%= section.page.name if section.page %></td>
			<td><%= section.name %></td>
			<td class="center"><%= status_tag(section.visible) %></td>
			<td class="actions">
						<%= link_to("Show", {:action => 'show', :id => section.id,
							:page_id => @page.id}, :class => 'action show') %>
						<%= link_to("Edit", {:action => 'edit', :id => section.id,
							:page_id => @page.id}, :class => 'action edit') %>
						<%= link_to("Delete", {:action => 'delete', :id => section.id,
							:page_id => @page.id}, :class => 'action Delete') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>
