<% @page_title = "Edit" %>

<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<%= render(:partial => "back_link") %>
			
			<h2>Update Specifications</h2>

			<%= form_for(:section, :url => {:action => 'update', 
				:page_id => @page.id , :section_id => @section.id}) do |f| %>
				<%= render(:partial => "form2", :locals => {:f => f}) %>
			<div class="form-buttons">
				<br />
				<%= link_to("<< Back to List", {:action => 'index', :page_id => @page.id, :subject_id => @page.subject_id }, :class => 'btn btn-default btn-sm') %>
				<%= submit_tag("Update", :class => 'btn btn-success btn-sm') %>
			</div>
		  <% end %>
		  <br />
		</div><!-- End Col -->
		<div class="col-sm-2"></div>
	</div><!-- End Row -->
</div><!-- End Container -->
