<% @page_title = "Sections List" %>

<div class="container clearfix">
		<div class="row">
		  <div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<% if @all_sect %>
							<h2>All Sections</h2>
							<% else %>
								<h2><%= @page.name %> | Sections</h2>
						<% end %>
					</div><!-- End Panel-Heading -->
					<div class="panel-body">
						
						<div class="clearfix"></div>
						<div class="btn-group pull-left">
							<%= link_to({:controller => 'pages',:action => 'index', :page_id => @page.id, :subject_id => @page.subject_id }, :class => 'btn btn-default btn-sm') do %>
								<span class="glyphicon glyphicon-chevron-left"></span> Back to Pages
							<% end %>
							
							<%= link_to({:page_id => @page.prev}, :class => 'btn btn-default btn-sm'+ check_first_page ) do %>
								<span class="glyphicon glyphicon-chevron-left"></span> Prev
							<% end %>
							
							<%= link_to({:page_id => @page.next}, :class => 'btn btn-default btn-sm'+ check_last_page) do %> 
								Next <span class="glyphicon glyphicon-chevron-right"></span> 
							<% end %>

							<%= link_to({:action => 'index'}, :class => 'btn btn-default btn-sm'+ check_all_sections ) do %>
								<span class="glyphicon glyphicon-list-alt"></span> All Sections
							<% end %>

							<%= link_to view_public_url(@page.permalink), :class => 'btn btn-default btn-sm' do %>
							<span class="glyphicon glyphicon-cloud"></span> View Public Page 
							<% end %>
						</div>	
						
						<%= link_to({:action => 'new', :page_id => @page.id }, :class => 'btn btn-success btn-sm pull-right', :data => {:title => 'Show', :toggle => 'modal', :target => '#new', :placement => 'top'}, :rel => 'tooltip') do %>
								<span class="glyphicon glyphicon-file"></span> New Section
						<% end %>
						<!-- Search Form -->
						<div class="col-md-4 pull-right input-group" style="margin-right: 60px;">
						 	<%= form_for(:section, :method => 'get') do %>
							    <%= text_field_tag :search, params[:search], :class => 'form-control'%>
							   <span class="input-group-btn">
							  	<%= button_tag(type: 'submit', class: 'btn btn-default', name: nil) do %>
									 <span class="glyphicon glyphicon-search"></span>
									 <% end %>
									</span>
							<% end %>
						</div><!-- End Search  -->
					</div><!-- End Panel-Body -->
					<div class="table-responsive">
						<table class="table table-hover table-bordered table-striped table-condensed" summary="Section list">
							<thead>
								<th>&nbsp;</th>
								<th>Last Edited By</th>
								<th>Last Update</th>
								<th>Section Name</th>
								<th>Content Type</th>
								<th>Visible</th>
								<th></th>
								<th class="col-md-2"></th>
							</thead>
							<tbody>
							<% @sections.each_with_index do |section, i| %>
								<% @last_edit= section.section_edits.last %>
								<td><%= section.position %></td>
								<td><%= @last_edit.editor.name %></td>
								<td><%= @last_edit.updated_at.localtime.to_s(:abbrev) %></td>
								<td><%= section.name %></td>
								<td><%= section.content_type %></td>
								<td><%= status_tag(section.visible) %></td>
								<td></td>
								<td style="text-align: center;">
									<div class="btn-group">
										<% if i == 0  && !@all_sect %>
											<%= link_to("View Public", {:controller => 'public', :action => 'show',:permalink => section.page.permalink}, :class => 'btn btn-default btn-xs') %>
										<% else %>
											<%= link_to("View Public", {:controller => 'public', :action => 'show',:permalink => section.page.permalink, :anchor => 'section-'+ section.name}, :class => 'btn btn-default btn-xs') %>
										<% end %>
										<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
								      <span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
								    </button>
								    <ul class="dropdown-menu" role="menu">
								    	<li class="dropdown-header"><%= section.name %></li>
								    	<li><%= link_to("Show", {:action => 'show', :id => section.id,
												:page_id => @page.id}, :class => '', :data => {:title => 'Show', :toggle => 'modal', :target => '#show', :placement => 'top'}, :rel => 'tooltip') %>
								      </li>
											<li><%= link_to("Edit", {:action => 'edit', :id => section.id,
												:page_id => @page.id}, :class => '', :data => {:title => 'Edit', :toggle => 'modal', :target => '#edit', :placement => 'top'}, :rel => 'tooltip') %>
								      </li>
											<li><%= link_to("Delete", {:action => 'delete', :id => section.id,
												:page_id => @page.id}, :class => '', :data => {:title => 'Delete', :toggle => 'modal', :target => '#delete', :placement => 'top'}, :rel => 'tooltip') %>
								      </li>
								    </ul>
								  </div>
								</td>
							</tr>
							<% end %>
							</tbody>
						</table>
					</div><!-- End Table-Responsive -->
					<div class="panel-footer">
						<p><%= pluralize(@sections.total_entries, 'section') %> found</p>
						 <div class="pull-right">
							<%= will_paginate @sections, renderer: BootstrapPagination::Rails, :previous_label => '<span class="glyphicon glyphicon-chevron-left"></span>', :next_label => '<span class="glyphicon glyphicon-chevron-right"></span>' %>
						</div><!-- End Pagination -->
					</div><!-- End Panel-Footer -->
				</div><!-- End Panel -->
				
			</div><!-- End Col -->
	</div><!-- End Row -->
</div><!-- End Container -->


<%= render(:partial => 'layouts/modal_containers') %>
