		<div class="modal-body">
			<table class="table table-bordered table-condensed" summary="Section detail view">
				<tr>
					<th>Name</th>
					<td><%= @section.name %></td>
				</tr>
				<tr>
					<th>Position</th>
					<td><%= @section.position %></td>
				</tr>
				<tr>
					<th>Visible</th>
					<td><%= @section.visible ? 'true' : 'false' %></td>
				</tr>
				<tr>
					<th>Page ID</th>
					<td><%= @section.page_id %></td>
				</tr>
				<tr>
					<th>Content Type</th>
					<td><%= @section.content_type %></td>
				</tr>
				<% if @section.content_type = 'Image' %>
					<tr>
						<th>Image URL</th>
						<td><%= @section.image %></td>
					</tr>
					<tr>
						<th>Image Preview</th>
						<td>
							<%= image_tag(@section.image_url(:thumb), :class => 'image-responsive admin-thumbnail') %>
						</td>
					</tr>
					<% end %>
				<tr>
					<th>Content</th>
					<td><%= @section.content %></td>
				</tr>
				<tr>
					<th>Created</th>
					<td><%= @section.created_at %></td>
				</tr>
				<tr>
					<th>Updated</th>
					<td><%= @section.updated_at %></td>
				</tr>
			</table>
		</div><!-- End body -->
  <div class="modal-footer ">
  <button type="button" class="btn btn-primary" data-dismiss="modal" style="width: 100%;" aria-hidden="true"><span class="glyphicon glyphicon-ok-sign"></span> Close</button>
			</div><!-- End Footer -->
