<% @page_title = "Admin Users List" %>

<%= link_to("<< Back to Main Menu", {:controller => 'access',
 :action => 'index'}, :class => 'back-link') %>


	<h2>Admin Users</h2>

	<%=  %>
	<%= link_to("Add New Admin User", {:action => 'new'}, :class => 'action new') %>

	<div><%= pluralize(@admin_users.size, 'admin user') %> found</div>
	
	 <div class="row">
	  <div class="col-md-12">
	  	<div class="table-responsive">
				<table class="table table-bordered table-striped table-condensed" summary="admin_user list">
					<thead>
						<th>Name</th>
						<th>User Name</th>
						<th>Email</th>
						<th>Action</th>
					</thead>
					<tbody>
					<% @admin_users.each do |admin_user| %>
					<tr class="<%= cycle('odd', 'even') %>">
						<td><%= admin_user.name %></td>
						<td><%= admin_user.username %></td>
						<td><%= mail_to(admin_user.email) %></td>
						<td class="actions">
							<%= link_to("Edit", {:action => 'edit', :id => admin_user.id}, :class => 'btn btn-warning btn-xs') %>
							<%= link_to("Delete", {:action => 'delete', :id => admin_user.id}, :class => 'btn btn-danger btn-xs') %>
						</td>
					</tr>
					<% end %>
				</tbody>
				</table>
			</div>
		</div>
	</div>

