<div id="top">
	<% @page_title = @page.name %>
</div>
	<div class="section_title">
		<h2><%= @page.name %> 
			<span>
				<%= link_to('[edit]', {:controller => 'sections', 
	            :page_id => @page.id}, :class => 'name') %> 
			</span>
		</h2>

		<ul>
			<% @page.sections.visible.sorted.each do |section| %>
				<li><%= link_to(section.name, :anchor => 'section-'+ section.name) %></li>
				<% end %>
		</ul>

	</div>

	<% @page.sections.visible.sorted.each do |section| %>

		

	<div class="section clear">
		<h2 id="section-<%= section.name %>" ><%= section.name %>
		  <span>
			<%= link_to('[edit]', {:controller => 'sections', :action => 'edit', 
            :id => section.id, :page_id => section.page.id}, :class => 'name') %> 
		  </span>
		</h2>

		<% if section != @page.sections.visible.sorted.first %>
			<div class="back-to-top">
				<h4><a href="#top">[back to top]</a></h4>
			</div>
		<% end %>

		<% @last_edit = section.section_edits.last %>
		<div class="editor">Last edited by <%= @last_edit.editor.name %> at <%= @last_edit.updated_at.localtime %>
		</div>
		
		<% case section.content_type %>
		<% when 'HTML' %>
		  <%= raw(sanitize(section.content, :tags => ['strong', 
				'em', 'a', 'br', 'p', 'img', 'div',
				 'h1', 'h2', 'h3', 'h4'])) %>
		<% when 'text' %>
		  <p><%= section.content %></p>
		<% end %>
	</div>
<% end %>
<div class="back-to-top clear">
	<h4><a href="#top">[back to top]</a></h4>
	<br />
</div>





