<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
					<span class="navbar-brand">AVDB Admin</span>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><%= link_to("Home", {:controller => 'access', :action => 'index'}) %></li>
				  	<li class="dropdown">
					  	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Menu
              <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to("Manage Content", {:controller => 'subjects'}) %></li>
                <li role="presentation" class="divider"></li>
                <li><%= link_to("Manage Admin Users", {:controller => 'admin_users'}) %></li>
                <li><%= link_to("Manage All Pages", {:controller => 'pages', :action => 'index'}) %></li>
                <li><%= link_to("Manage All Sections", {:controller => 'sections',:action => 'index'}) %></li>
              </ul><!-- End Dropdown-menu -->
            </li>
					</ul><!-- End Navbar-left -->
					<ul id="loginStatus" class="nav navbar-nav navbar-right">
						<% if session[:username] %>
	      			<li id ="menuLogin" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= human_name %><span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<%= link_to("View Public Area", {:controller => 'public', :action => 'index'}) %>
									</li>
									<li>
										<%= link_to("Sign Out", {:controller => 'access', :action => 'logout'}) %>
									</li>
								</ul>
						<% else %>
							<li>
								<a href="#loginModal" role="button" class="" data-toggle="modal">Log In</a>
							</li>
							
							<% end %>
      		</ul>
	     	</div><!-- .navbar collapse -->
			</div><!-- Container -->
		</nav><!-- Navbar -->

		<%= render(:partial => 'layouts/loginModal') %>

