	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
					<span class="navbar-brand" href="#">AVDB</span>
				</div>
				<div class="navbar-collapse collapse">
				 	<ul class="nav navbar-nav">
						<li class="<%= check_home %>"><%= link_to("Home", {:action => 'index'}) %></li>
							
							<% @subjects.visible.each do |subject| %>
								<li class="dropdown<%= check_subject(subject) %>">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= subject.name %><span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<% subject.pages.visible.sorted.each do |page| %>
											<li class="<%= check_page(page) %>">
												<%= link_to(page.name, 
												{:action =>'show', :permalink =>
												page.permalink}) %>
											</li>
										<% end %>
									</ul>
								</li>
							<% end %>
					</ul><!-- End Main Nav -->
						<ul id="loginStatus" class="nav navbar-nav navbar-right">
						<% if session[:username] %>
	      			<li id="menuLogin" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= human_name %><span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<%= link_to("View Admin Area", {:controller => 'access', :action => 'index'}) %>
									</li>
									<li>
										<%= link_to("Sign Out", {:controller => 'access', :action => 'logout'}) %>
									</li>
								</ul>
						<% else %>
							<li>
								<a href="#loginModal" role="button" class="" data-toggle="modal">Log In</a>
							</li>
							
							<% end %>
      		</ul><!-- End loginStatus -->
				
	     	</div><!-- .navbar collapse -->
			</div><!-- Container -->
		</nav><!-- Navbar -->

		<%= render(:partial => 'layouts/loginModal') %>
		<%= render(:partial => 'layouts/sectionLoginModal') %>
