	<nav class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
					<span class="navbar-brand" href="#">AVDB</span>
				</div>
				<div class="navbar-collapse collapse">
				 	<ul class="nav navbar-nav">
						<li class="<%= check_home %>"><%= link_to("Home", {:action => 'index'}) %></li>
							
							<% @subjects.each do |subject| %>
								<li class="dropdown<%= check_subject(subject) %>">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= subject.name %><span class="carat"></span></a>
									<ul class="dropdown-menu" role="menu">
										<% subject.pages.visible.sorted.each do |page| %>
											<li class="<%= check_page(page) %>">
												<%= link_to(page.name, 
												{:action =>'show', :permalink =>
												page.permalink}) %>
											</li>
										<% end %>
									</ul>
								</li>
							<% end %>
					</ul><!-- End Main Nav -->
						<ul id="loginStatus" class="nav navbar-nav navbar-right navbar-inverse">

						<% if session[:username] %>
		      		<p class="navbar-text">
		      			Logged in as: <%= human_name %>
							</p>
							<%= link_to("Admin", {:controller => 'access', :action => 'index'}, :class => 'btn navbar-btn btn-primary btn-sm') %>
							<%= link_to("Logout", {:controller => 'access', :action => 'logout'}, :class => 'btn navbar-btn btn-danger btn-sm') %>
							<% else %>
								<a href="#loginModal" role="button" class="btn btn-success navbar-btn btn-sm" data-toggle="modal">Log In</a>
							<% end %>
      		</ul><!-- End loginStatus -->
				
	     	</div><!-- .navbar collapse -->
			</div><!-- Container -->
		</nav><!-- Navbar -->

		<%= render(:partial => 'layouts/loginModal') %>
