 <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <% case params[:controller] %>
        		<% when 'admin_users' %>
		        	<% if @admin_user.name %>
		        		<h3 class="modal-title custom_align" id="Heading"><%= params[:action].to_s.capitalize + " " + @admin_user.name %></h3>
		      		<% else %>
		      			<h3 class="modal-title custom_align" id="Heading"><%= params[:action].to_s.capitalize + " Admin User" %></h3>
      				<% end %>
	        	<% when 'subjects' %>
		        	<% if @subject.name %>
		        		<h3 class="modal-title custom_align" id="Heading"><%= params[:action].to_s.capitalize + " " + @subject.name %></h3>
		      		<% else %>
		      			<h3 class="modal-title custom_align" id="Heading"><%= params[:action].to_s.capitalize + " " + params[:controller].to_s.capitalize.singularize %></h3>
      				<% end %>

      			<% when 'pages' %>
							<% if @page.name %>
		        	<h3 class="modal-title custom_align" id="Heading"><%= params[:action].to_s.capitalize + " " + @page.name %></h3>
			      	<% else %>
			      	<h3 class="modal-title custom_align" id="Heading"><%= params[:action].to_s.capitalize + " " + params[:controller].to_s.capitalize.singularize %></h3>
			      	<% end %>

		      	<% when 'sections' %>
							<% if @section.name %>
		        	<h3 class="modal-title custom_align" id="Heading"><%= params[:action].to_s.capitalize + " " + @section.name %></h3>
			      	<% else %>
			      	<h3 class="modal-title custom_align" id="Heading"><%= params[:action].to_s.capitalize + " " + params[:controller].to_s.capitalize.singularize %></h3>
			      	<% end %>
  			<% end %>
      </div><!-- End Header -->
      	<%= yield %>
     
        
      
  
     

