<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

		<title>Awesome Vehicle Database</title>
	  
	  <!-- Google Fonts - Open Sans -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
		
		<!-- Rails Styles -->
	  <%= stylesheet_link_tag('application', :media => 'all') %>
	 	
	 	<!-- Rails Javascript -->
	 	<%= javascript_include_tag('application') %>
		
		
</head>
	<body role="document">
		<a id="top"></a>
		<!-- Navbar -->
		<%= render(:partial => 'layouts/bs_menu') %>
		
		<!-- Flash Messages -->
		<%= render(:partial => 'layouts/flash_messages') %>
		<div class="container theme-showcase" role="main">

				

				<%= yield %>
			

		</div>
				
		<div id="footer">
			<p id="copyright">&copy; Dave Johnson</p>
		</div>
	
	
	</body>
</html>
